<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Mervenur's First Angular Project</h1>
  <img width="300" alt="Angular Logo" src="https://www.nasa.gov/sites/default/files/images/587837main_Kepler16_transit_art2_full.jpg">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener">{{itemList[0]}} </a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener">{{itemList[1]}}</a></h2>
  </li>
  <li>
    <h3><a target="_blank" rel="noopener">{{itemList[2]}}</a></h3>
  </li>
</ul>
<p>The rectangle has a length of {{rectangle.length}} cm, a width of {{rectangle.width}} cm,
  and an area of {{rectangle.area()}} cm^2.</p>

